html, body {
  margin: 0;
  padding: 0px;
  font-family: inter, sans-serif;
  margin: auto;
  max-width: 550px;
}


.nav{
  height: 55px;
  width: 550px;
  background-color: #f55a5a;
  display: grid;
  align-items: center;
  margin-bottom: 45px;
}
.nav-cont{
  color: white;
  display: grid;
  grid-template-columns: 24px 109px;
  grid-gap: 7px;
  align-items: center;
  justify-content: center;
}
.logo{
  width: 24px;
  height: 24px;
}
.nav-text{
  width: 109px;
  height: 16px;
  font-weight: 500;
  font-size: 14.46px;
  line-height: 17.5px;
  line-height: -7.5%;
  margin: 0px;
}
.place{
  width: 470px;
  height: 168px;
  margin: 0px 40px ;
  display: grid;
  grid-template-columns:125px 362px ;
  grid-gap: 19px;
}
.fuji{
  width: 125px;
  height: 168px;
  border-radius: 5px;
}
.place-details{
  width: 326px;
  height: 188px;
}
.location{
  width: fit-content;
  height: 13px;
  display: grid;
  grid-template-columns: 11px 70px 106px;
  justify-items: center;
  margin-top: 19px;
}
.location img{
  width: 7px;
  height: 9.55px;
}
.location p{
  width: fit-content;
  height: 10px;
  margin: 0;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12.39px;
  letter-spacing: 17%;
  color: #2b283a;
}
.location a{
  width: 106px;
  height: 13px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12.39px;
  color: #91839b;
  text-decoration: underline;
}
.where{
  width: 326px;
  height: 40px;
  font-size: 700;
  font-size: 25px;
  line-height: 30.26px;
  color: #2b283a;
  margin-top: 4px;
}
.date{
  width: 319px;
  height: 11px;
  font-weight: 700;
  font-size: 10.25px;
  line-height: 12.39px;
  margin: 0;
  margin-top: 7px;
  color: #2b283a;
}
.place-desc{
  width: 326px;
  height: fit-content;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 15.36px;
  color: #2b283a;
  margin-top: 9px;
}
hr{
  width: 478px;
  opacity: 0.2;
  margin: 18px auto;
}
